<% include ../partials/header %> 
    <div class="container">
        <div class="row">
            <div class="col-3">
            <div class="jumbotron">
                <button class="btn btn-primary btn-lg" role="button" id="artist">Find an artist</button>
            </div>
        </div>
        <div class="col-3">
            <div class="jumbotron">
                <button class="btn btn-primary btn-lg" role="button" id="place">Find a place</button>
            </div>
        </div>
        <div class="col-3">
            <div class="jumbotron">
                <button class="btn btn-primary btn-lg" role="button" id="tech">Find a tech</button>
            </div>
        </div>
        <div class="col-3">
            <div class="jumbotron">
                <button class="btn btn-primary btn-lg" role="button" id="gear">Find gear to rent</button>
            </div>
        </div>
        </div>
    </div>
<% include ../partials/footer %> 