<% include ../partials/header %> 
    <div class="container" style="text-align:center">
        <div class="row">
            <div class="jumbotron">
                <h1>Browse all types of offers which you are interested in, then press the button to manage your newly created event!</h1>
                <hr>
                <a class="btn btn-primary btn-lg" href="/events/<%=event._id%>/manage">Manage your event</a>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
            <div class="jumbotron" id="artist_place">
                <button class="btn btn-primary btn-lg" role="button" id="artist">Find an artist</button>
            </div>
        </div>
        <div class="col-3">
            <div class="jumbotron" id="place_owner_place">
                <button class="btn btn-primary btn-lg" role="button" id="place_owner">Find a place</button>
            </div>
        </div>
        <div class="col-3">
            <div class="jumbotron" id="tech_place">
                <button class="btn btn-primary btn-lg" role="button" id="tech">Find a tech</button>
            </div>
        </div>
        <div class="col-3">
            <div class="jumbotron" id="gear_owner_place">
                <button class="btn btn-primary btn-lg" role="button" id="gear_owner">Find gear to rent</button>
            </div>
        </div>
        
        </div>
    </div>
<script>
    $("button").click(function(){
    let id = $(this).attr("id");
   $.ajax({
        method: "POST",
        url: "/events/get",
        data: {
            id:id
        }
    })
    .done(function(msg) {
        msg.foundOffers.forEach(function (offer){
            $("#" + id).attr("disabled", "disabled");
            $("#" + id + "_place").append("<div>"+"<img/>"+"<div>" + offer.offer_name + "</div>"+ "<a>Show details</a>"+"</div>");
            $("#" + id + "_place div").addClass("card ");
            $("#" + id + "_place div img").addClass("card-img-top");
            $("#" + id + "_place div img").last().attr('src', offer.picture);
            $("#" + id + "_place div a").addClass("btn btn-primary");
            $("#" + id + "_place div a").last().attr('href', '/marketplace/'+offer._id+'/details');

        });
    }); 
});
</script>
<% include ../partials/footer %> 