<% include ./partials/header %> 

<div class="container" style="text-align:center">
    <div class="jumbotron jumbotron-fluid" style="text-align:center">
        <h1 class="display-4">Music Event Manager</h1>
        <p class="lead">Learn what this is about!</p>
    </div>
    <h3>About the project:</h3>
    <p>This system was designed and implemented as a part of Bachelor thesis. It offers artists, technicians, venue owners
        and gear rental companies to make their offers and put them on the community marketplace. Organizers by browsing the
        marketplace can choose their own lineups and manage newly created events, interacting with their contractors. All users
        involved in particular event are being reviewed when the event is marked as finished by the organizer.
    </p><hr><br>
    <h3>About the author:</h3>
    <p>
        Przemysław Adamczyk, 21 year old student of Cracow University of Economics at Applied Informatics, with Software Engineering 
        specialization. I am currently looking for a place to futher develop my Web Development skills(Internship or Junior Backend Developer job)
        Feel free to contact me at: ppadamczyk257@gmail.com
    </p>   <br> 
    
</div>


<% include ./partials/footer %> 