<% include ./partials/header %> 
<div class="container">
    <h1>Inbox</h1>
    <div class="row">
        <div class="card mt-2">
            <% user.inbox.forEach(function(message){ %>
            <h2> <%= message.topic %></h2>
            <h4> <%= message.text %></h4>
            <p>Written by <%= message.author.username %></p>
        <% }); %>
        </div>
        
    </div>
</div>
    
<% include ./partials/footer %> 