<% include ./partials/header %> 




<hr>
<button><a href="/marketplace/new">Go add new offer to the marketplace</a></button>
<button><a href="/marketplace">Go view some offers</a></button>
<% include ./partials/footer %> 