<% include ./partials/header %> 

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="jumbotron">
                <h1 class="display-4">Search for offers</h1>
                <p class="lead">Find talented people which will be able to help you with your special event.</p>
                <hr class="my-4">
                <p>Click the button below to access countless of offers.</p>
                <a class="btn btn-primary btn-lg" href="/marketplace" role="button">View all offers</a>
            </div>
        </div>
        <div class="col-6">
            <div class="jumbotron">
                <h1 class="display-4">Create your own offer</h1>
                <p class="lead">Offer your own abilities or skills helping other people and earnig money.</p>
                <hr class="my-4">
                <p>Click the button below to create your own offer and be found by others.</p>
                <a class="btn btn-primary btn-lg" href="/marketplace/new" role="button">Create your offer</a>
            </div>
        </div>
    </div>
</div>




<% include ./partials/footer %> 