<% include ./partials/header %> 

<button><a href="/login">Go login</a></button>
<button><a href="/register">Go register</a></button>
<button><a href="/">Go back</a></button>
<hr>
<button><a href="/marketplace/add">Go add new offer to the marketplace</a></button>
<button><a href="/marketplace">Go view some offers</a></button>
<% include ./partials/footer %> 