<!DOCTYPE html>
<html>
    <head>
        <title>Music Event Manager</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
        <div class="container">
            <div style="margin-top: 20%; text-align: center">
                <h1>NO FRONTEND ALERT!</h1>
                <h3>You are about to enter a system with "work in progress" status. Sadly, that means that no fancy frontend has been implemented yet. Please remember it is only a preview and the whole project will be upgraded soon. Thanks for checking it out and all given feedback.</h3>
		        <a href="/about" class="btn btn-lg btn-success">Go on!</a>
		    </div>
        </div>
    </body>
</html>