<% include ../../partials/header %> 
<div class="container">
    <div class="row">
        <div style="width: 30%; margin: 25px auto;">
            <h1 style="text-align: center;">New task</h1>
            <form action="/events/<%= event._id %>/tasks" method="post">
                <div class="form-group">
                    <input type="text" class="login-form" name="task[title]" placeholder="title" required>
                </div>
                <div class="form-group">
                    <input type="text" class="login-form" name="task[text]" placeholder="task description" required> 
                </div>
                <div class="form-group">
                    <p>Add this task to list of tasks of:</p>
                    <input type="radio" name="task[role]" value="artist"> Artists<br>
                    <input type="radio" name="task[role]" value="tech"> Technicians<br>
                    <input type="radio" name="task[role]" value="gear_owner"> Gear owners<br>
                    <input type="radio" name="task[role]" value="place_owner"> Place owner
                </div>

                <button class="btn btn-lg btn-primary btn-block">Add it</button>
            </form>
            <a href="/events/<%=event._id%>/manage">Go back</a>
        </div>
    </div>
</div>
<% include ../../partials/footer %> 