<% include ../partials/header %>
    <div class="container mt-5" style="text-align:center">
        <h1>Update your status:</h1>
        <form method="POST" action="/users/<%= user._id%>/status/?_method=PUT">
            <textarea name="updateStatus" cols="100" rows="6"><%= user.desc %></textarea>
            <div style="text-align:center">
                <button class="btn-lg btn-primary">Update</button>
            </div>
        </form>
    </div>
<% include ../partials/footer %>