<% include ../partials/header %>
    <h1><%= user.username %> events:</h1>
    <% user.events.forEach(function(event){ %>
        <a href="/events/<%=event._id%>"><h1> <%= event.event_name %></h1></a>
    <% }); %>

<% include ../partials/footer %>