<% include ../partials/header %> 
    <div class="container">
      <div class="row">
          <% offers.forEach(function(offer){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="card mt-5" style="width: 100%; height: auto; text-align:center ">
                       <img class="card-img-top" src="<%= offer.picture %>">
                       <div class="card-body">
                           <div class="card-title">
                           <%= offer.offer_name %>
                           </div>
                       </div>
                       <p>
                           <a href="/marketplace/<%= offer._id %>" class="btn btn-primary">More Info</a>
                       </p>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
<% include ../partials/footer %> 