<% include ../partials/header %> 

<h1>This will be a marketplace soon</h1>
    <div class="container">
      <div class="row text-center">
            <% offers.forEach(function(offer){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                       <img src="<%= offer.picture %>">
                       <div class="caption">
                           <h4><%= offer.offer_name %></h4>
                       </div>
                       <p>
                           <a href="/marketplace/<%= offer._id %>" class="btn btn-primary">More Info</a>
                       </p>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
<% include ../partials/footer %> 