<% include ../partials/header %> 


<div class="container">
    <div class="row">
        <div style="width: 30%; margin: 25px auto;">
            <h1 style="text-align: center;">Add new offer</h1>
            <form action="/marketplace" method="post">
                <div class="form-group">
                    <input type="text" class="login-form" name="offer_name" placeholder="offer name">
                </div>
                
                <!--TYPE DECLARATION-->
                
                <div class="form-group">
                    <input type="radio" name="type" value="artist">Artist
                </div>
                <div class="form-group">
                    <input type="radio" name="type" value="tech">Tech
                </div>
                <div class="form-group">
                    <input type="radio" name="type" value="place_owner">Place rental
                </div>
                <div class="form-group">
                    <input type="radio" name="type" value="gear_owner">Gear Rental
                </div>

                
                <div class="form-group">
                    <input type="text" class="login-form" name="description" placeholder="description">
                </div>
                <div class="form-group">
                    <input type="text" class="login-form" name="picture" placeholder="picture url">
                </div>
                <div class="form-group">
                    <input type="text" class="login-form" name="price" placeholder="price">
                </div>
                <button class="btn btn-lg btn-primary btn-block">Add offer</button>
            </form>
            <a href="/marketplace">Go back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %> 