<% include ../partials/header %> 
<div class="container">
    <div class="row">
        <div style="width: 30%; margin: 25px auto;">
            <h1 style="text-align: center;">Add new offer</h1>
            <form action="/marketplace" method="post">
                <div class="form-group">
                    <input type="text" class="login-form" name="offer_name" placeholder="offer name" required>
                </div>
                <!--TYPE DECLARATION-->
                <% if(currentUser.roles.artist===true){ %>
                <div class="form-group">
                    <input type="radio" name="role" value="artist">Artist
                </div>
                <% } %>
                <% if(currentUser.roles.tech===true){ %>
                <div class="form-group">
                    <input type="radio" name="role" value="tech">Tech
                </div>
                <% } %>
                <% if(currentUser.roles.place_owner===true){ %>
                <div class="form-group">
                    <input type="radio" name="role" value="place_owner">Place rental
                </div>
                <% } %>
                <% if(currentUser.roles.gear_owner===true){ %>
                <div class="form-group">
                    <input type="radio" name="role" value="gear_owner">Gear Rental
                </div>
                <% } %>
                <div class="form-group">
                    <input type="text" class="login-form" name="description" placeholder="description" required>
                </div>
                <div class="form-group">
                    <input type="text" class="login-form" name="picture" placeholder="picture url (leave blank for default picture)">
                </div>
                <div class="form-group">
                    <input type="text" class="login-form" name="price" placeholder="price" required>
                </div>
                <button class="btn btn-lg btn-primary btn-block">Add offer</button>
            </form>
            <a href="/main">Go back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %> 